/* allows buttons to inherite fonts */
button { 
    font-family: inherit 
}

/* global font for all h3 */
h3 {
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: clamp(16px, 2.5vw, 25px);
}

.description {
    font-family: 'Jost', sans-serif;
    width: 100%;
    font-size: clamp(14px, 2.2vw, 18px);
    letter-spacing: .7px;
    line-height: 29px;
  }

p {
    margin: 0;
}

/* general style customization */
body {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 1000px;
    font-family: 'Inter', sans-serif;
    background-color: rgba(0, 0, 0, 0);
}

/* main column grid for the entire page */
.main-content {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.subtitle {
    font-family: 'Jost', sans-serif;
    font-size: clamp(12px, 2vw, 16px);
    margin-top: 0;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

