/* top section of website with introduction */
.intro-section {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 47% 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* CSS Grid for text paragraphs */
.intro-paragraph-grid {
    font-family: "Karla", sans-serif;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: rgb(187, 160, 230);
    padding-top: 26%;
    padding-bottom: 26%;
    padding-left: 3%;
    padding-right: 6%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box; 
}

/* animation for intro text elements */
.intro-title,
.intro-message,
.more-about-button {
    opacity: 0;
    animation: slideIn 2s ease forwards;
}

/* website welcome text */
.intro-title {
    width: 100%;
    margin: 0;
    font-size: clamp(24px, 4vw, 46px);
    font-weight: 500;
    line-height: clamp(24px, 4vw, 45px);
    color: rgb(46, 46, 46);
}

/* introduction message to give context */
.intro-message {
    margin: 0;
    font-size: clamp(16px, 2.5vw, 20px);
    color: rgb(46, 46, 46);
}

/* button to navigate to about us section */
.more-about-button {
    width: fit-content;
    margin: 60px auto 0;
    padding: 11px 20px;
    position: center;
    cursor: pointer;

    width: auto; 
    font-size: clamp(18px, 3vw, 26px);
    padding: .5em 1em;
    font-weight: 500;
    color: rgb(187, 160, 230);
    background-color:#3A0F55;
    border-width: 3px;
    border-style: solid;
    border-color: #3A0F55;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(19, 19, 19);
}

/* hover animation for about navigaiton button */
.more-about-button:hover {
    transition: 0.35s;
    color: #3A0F55;
    background-color: rgb(163, 134, 209);
}

/* grid layout for intro images */
.intro-image-content {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
}

/* grid layout for first row of images (adding columns) */
.intro-image-content-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    gap: 10px;

}

/* animation style for images */
.single-flower-image,
.bunch-of-flowers-image,
.farm-family-image {
    animation: slideIn 3s ease forwards;
}

/* size styles for images in first row */
.single-flower-image,
.bunch-of-flowers-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
}

/* size styles for image in second row */
.farm-family-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    justify-self: center;
}

/* animation styles for text and images when loading in */
@keyframes slideIn {
    from {
        transform: translateX(0);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}