.text-spacer {
  position: relative;
  width: 100%;
  height: 440px;
  font-family: 'Jost', sans-serif;
  text-align: center;
}

.more-context-paragraph {
  margin: 0;
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: clamp(16px, 2.5vw, 22px);
}

.context-paragraph-line-break {
  height: 10px;
}

.image-spacer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 3vw;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 20px;
  background-color: rgb(187, 160, 230);
}

@media (max-width: 768px) {
  .image-spacer {
    grid-template-columns: 1fr;
  }
}

.flower-basket-image-spacer,
.flower-basket-image-spacer-2 {
  width: 100%;
  border-radius: 10px;
}