.store-preview-section {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr;
}

.store-section-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}

.products-header {
  text-decoration: underline;
}

.store-title {
  text-align: center;
}

.items-grid {
  display: flex;
  justify-content: center;
  gap: 4%;
}

.item {
  margin-left: 20px;
  margin-right: 20px;
}

.item-preview {
  cursor: pointer;
  width: 100%;
  max-width: 270px;
  height: auto;
  border: solid 2px transparent;
  border-radius: 2px;
  transition: width 0.6s ease, border 0.3s ease;
}

.item-preview:hover {
  transition: .3s;
  border: solid;
  border-width: 4px;
  width: 100%;
  height: auto;
  max-width: 280px;
}

.item-info {
  font-family: 'Jost', sans-serif;
  text-align: start;
}

.item-description {
  width: 100%;
  margin-top:15px;
  font-size: clamp(14px, 2.2vw, 18px);
}

.item-price {
  margin-top: 6px;
  font-size: clamp(11px, 1.9vw, 13.5px);
}

.store-button-wrapper {
  margin-top: 60px;
  text-align: center;
}

.store-button {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  padding: 11px 20px;
  color: #E6E6E6;
  background-color: #761F2B;
  border: solid;
  border-width: 4px;
  border-radius: 2px;
  border-color: #761F2B;
  cursor: pointer;
}

.store-button:hover {
  font-weight: 600;
  transition: 0.5s;
  background-color: #E6E6E6;
  color: #761F2B;
}



